<html>
<head>
<title>mortimint</title>
<script src="lodash.min.js"></script>
</head>
<body>
<div class="main">
  <h1>mortimint</h1>
  <div class="progress">...</div>
  <div>
    <h2>links</h2>
    <a href="/progress">progress</a>
    <br/>
    <a href="/emit/">emit</a>
    <br/>
    <a href="/graphData">graphData</a>
  </div>
</div>

<script>
var mainEl = document.getElementsByClassName("main")[0];
var progressEl = document.getElementsByClassName("progress")[0];

var barTmpl = _.template(
  '<div class="bar">'+
    '<div class="barName"><%= dir %>/<%= fname %></div>'+
    '<div class="barVal" style="min-width: <%= width %>px;"></div>'+
  '</div>');

var lastProgress = {};
function updateProgress() {
  fetch("./progress")
    .then(function(response) {
      if (response.status != 200) {
        return console.log("fetch /progress not 200", response);
      }

      response.json().then(function(data) {
        lastProgress = data;

        updateProgressBars(data);

        if (data.EmitDone) {
          mainEl.className += " done";

          updateDict();
        } else {
          setTimeout(updateProgress, 1500);
        }
      });
    })
    .catch(function(err) { console.log("fetch error", err); });
}
updateProgress();

function updateProgressBars(data) {
  var pcts = [];
  for (var dir in data.FileSizes) {
    for (var fname in data.FileSizes[dir]) {
      var size = data.FileSizes[dir][fname];
      var curr = _.get(data.FileProgress, [dir, fname], 0);
      pcts.push(barTmpl({dir:   dir,
                         fname: fname,
                         width: _.toInteger(500 * (curr/size))}));
    }
  }
  progressEl.innerHTML = pcts.join("");
}

var lastDict = {};
function updateDict() {
  fetch("./emit/emit.dict")
    .then(function(response) {
      if (response.status != 200) {
        return console.log("fetch /emit/emit.dict not 200", response);
      }

      response.json().then(function(data) {
        lastDict = data;

        updateGraph()
      });
    })
    .catch(function(err) { console.log("fetch error", err); });
}

var graphData = {};
var graphNum = 0;
function updateGraph() {
  graphNum++;

  fetch("./graphData")
    .then(function(response) {
      if (response.status != 200) {
        return console.log("fetch /graphData not 200", response);
      }

      response.json().then(function(data) {
        graphData = data;

        setTimeout(updateGraph, 1500);
      });
    })
    .catch(function(err) { console.log("fetch error", err); });
}
</script>
<style>
.done .progress {
  background-color: #efe;
}

.bar {
  position: relative;
}
.bar * {
  display: inline-block;
  font-size: 8pt;
}
.bar .barName {
  min-width: 400px;
}
.bar .barVal {
  position: relative;
  min-height: 6px;
  background-color: #8aa;
}
</style>
</body>
</html>
