<html>
<head>
  <title>mortimint</title>
  <script src="chart.min.js"></script>
  <script src="lodash.min.js"></script>
</head>
<body>
<div class="main">
  <h1>mortimint</h1>
  <div class="chartContainer">
    <canvas class="chart" width="600" height="100"></canvas>
  </div>
  <div class="progress">...</div>
  <div>
    <h2>links</h2>
    <a href="/progress">progress</a>
    <br/>
    <a href="/outDir/">outDir</a>
    <br/>
    <a href="/graphData">graphData</a>
  </div>
</div>
<script>
var mainEl = document.getElementsByClassName("main")[0];
var progressEl = document.getElementsByClassName("progress")[0];
var chartEl = document.getElementsByClassName("chart")[0];

// ------------------------------------------------

var lastProgress = {};

function updateProgress() {
  fetch("./progress")
    .then(function(response) {
      if (response.status != 200) {
        return console.log("fetch /progress not 200", response);
      }

      response.json().then(function(data) {
        lastProgress = data;

        updateProgressBars(data);

        if (data.EmitDone) {
          mainEl.className += " progressDone";

          updateDict();
        } else {
          setTimeout(updateProgress, 1500);
        }
      });
    })
    .catch(function(err) { console.log("fetch error", err); });
}
updateProgress();

function updateProgressBars(data) {
  var pcts = [];
  for (var dir in data.FileSizes) {
    for (var fname in data.FileSizes[dir]) {
      var size = data.FileSizes[dir][fname];
      var curr = _.get(data.FileProgress, [dir, fname], 0);
      pcts.push(barTmpl({dir:   dir,
                         fname: fname,
                         width: _.toInteger(500 * (curr/size))}));
    }
  }
  progressEl.innerHTML = pcts.join("");
}

var barTmpl = _.template(
  '<div class="bar">'+
    '<div class="barName"><%= dir %>/<%= fname %></div>'+
    '<div class="barVal" style="min-width: <%= width %>px;"></div>'+
  '</div>');

// ------------------------------------------------

var lastDict = {};

function updateDict() {
  fetch("./outDir/emit.dict")
    .then(function(response) {
      if (response.status != 200) {
        return console.log("fetch /outDir/emit.dict not 200", response);
      }

      response.json().then(function(data) {
        lastDict = data;

        mainEl.className += " dictDone";

        updateGraphData()
      });
    })
    .catch(function(err) { console.log("fetch error", err); });
}

// ------------------------------------------------

var graphData = {};
var graphDataNum = 0;

function updateGraphData() {
  graphDataNum++;

  fetch("./graphData")
    .then(function(response) {
      if (response.status != 200) {
        return console.log("fetch /graphData not 200", response);
      }

      response.json().then(function(data) {
        graphData = data;

        updateChart(data);

        setTimeout(updateGraphData, 2000);
      });
    })
    .catch(function(err) { console.log("fetch error", err); });
}

// ------------------------------------------------

var chartedGraphData = {};

function updateChart(graphData) {
  if (chartedGraphData.Rev == graphData.Rev) {
    return
  }
  chartedGraphData = graphData;

  var myChart = new Chart(chartEl, {
    type: 'bar',
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3]
      }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
    });
}
</script>
<style>
.progressDone .progress {
  background-color: #efe;
}

.progress .bar {
  position: relative;
}
.progress .bar * {
  display: inline-block;
  font-size: 8pt;
}
.progress .bar .barName {
  min-width: 400px;
}
.progress .bar .barVal {
  position: relative;
  min-height: 6px;
  background-color: #8aa;
}

// ------------------------------------------------

.main .chartContainer {
  display: none;
}
.main.dictDone .chartContainer {
  display: block;
}
</style>
</body>
</html>
