<html>
<head>
  <title>mortimint</title>
  <script src="lodash.min.js"></script>
  <script src="dygraph-combined.js"></script>
</head>
<body>
<div class="main">
  <h1>mortimint</h1>
  <div class="chartContainer">
    <div class="chart"/>
  </div>
  <div class="logShow"></div>
  <div class="progress">...</div>
  <div>
    <h2>links</h2>
    <a href="/progress">progress</a>
    <br/>
    <a href="/outDir/">outDir</a>
    <br/>
    <a href="/graphData">graphData</a>
  </div>
</div>
<script>
var mainEl = document.getElementsByClassName("main")[0];
var progressEl = document.getElementsByClassName("progress")[0];
var chartEl = document.getElementsByClassName("chart")[0];
var logShowEl = document.getElementsByClassName("logShow")[0];

// ------------------------------------------------

var lastProgress = {};

function updateProgress() {
  fetch("./progress")
    .then(function(response) {
      if (response.status != 200) {
        return console.log("fetch /progress not 200", response);
      }

      response.json().then(function(data) {
        lastProgress = data;

        updateProgressBars(data);

        if (data.EmitDone) {
          mainEl.className += " progressDone";

          updateDict();
        } else {
          setTimeout(updateProgress, 1500);
        }
      });
    })
    .catch(function(err) { console.log("fetch error", err); });
}
updateProgress();

function updateProgressBars(data) {
  var pcts = [];
  for (var dir in data.FileSizes) {
    for (var fname in data.FileSizes[dir]) {
      var size = data.FileSizes[dir][fname];
      var curr = _.get(data.FileProgress, [dir, fname], 0);
      pcts.push(barTmpl({dir:   dir,
                         fname: fname,
                         width: _.toInteger(500 * (curr/size))}));
    }
  }
  progressEl.innerHTML = pcts.join("");
}

var barTmpl = _.template(
  '<div class="bar">'+
    '<div class="barName"><%= dir %>/<%= fname %></div>'+
    '<div class="barVal" style="min-width: <%= width %>px;"></div>'+
  '</div>');

// ------------------------------------------------

var lastDict = {};

function updateDict() {
  fetch("./outDir/emit.dict")
    .then(function(response) {
      if (response.status != 200) {
        return console.log("fetch /outDir/emit.dict not 200", response);
      }

      response.json().then(function(data) {
        lastDict = data;

        mainEl.className += " dictDone";

        updateGraphData()
      });
    })
    .catch(function(err) { console.log("fetch error", err); });
}

// ------------------------------------------------

var graphData = {};
var graphDataNum = 0;

function updateGraphData() {
  graphDataNum++;

  fetch("./graphData")
    .then(function(response) {
      if (response.status != 200) {
        return console.log("fetch /graphData not 200", response);
      }

      response.json().then(function(data) {
        graphData = data;

        updateChart(data);

        setTimeout(updateGraphData, 2000);
      });
    })
    .catch(function(err) { console.log("fetch error", err); });
}

// ------------------------------------------------

var g = null;

var chartedGraphData = {};

function updateChart(graphData) {
  if (chartedGraphData.Rev == graphData.Rev) {
    return
  }
  chartedGraphData = graphData;

  var labels = ["Ts"].concat(_.keys(graphData.Data));
  if (labels.length <= 1) {
    return;
  }

  var data = [];

  _.forEach(graphData.Data, function(graphEntries) {
    _.forEach(graphEntries, function(graphEntry) {
      data.push([new Date(graphEntry.Ts), parseInt(graphEntry.Val)])
    });
  });

  if (!g) {
    g = new Dygraph(chartEl, data, {
      labels: labels,
      clickCallback: onChartClick,
      highlightCallback: onChartHighlight,
    });
  } else {
    g.updateOptions({file: data, labels: labels});
  }
}

function onChartClick(event, x, points) {
  logShowTrackingToggle();
}

function onChartHighlight(event, x, points, rowIdx, seriesName) {
  var d = new Date(x);

  if (!points || points.length <= 0 || !chartedGraphData) {
    return;
  }

  var name = points[0].name;
  var graphEntry = chartedGraphData.Data[name][rowIdx];
  if (graphEntry) {
    logShow(name, graphEntry);
  }
}

// ------------------------------------------------

var logShowTracking = true;

function logShowTrackingToggle() {
  logShowTracking = !logShowTracking;
}

var logShowInflight = false;

function logShow(name, graphEntry) {
  if (!logShowTracking || logShowInflight) {
    return;
  }

  logShowEl.innerHTML = name + " " + JSON.stringify(graphEntry);
}

</script>
<style>
.progressDone .progress {
  background-color: #efe;
}

.progress .bar {
  position: relative;
}
.progress .bar * {
  display: inline-block;
  font-size: 8pt;
}
.progress .bar .barName {
  min-width: 400px;
}
.progress .bar .barVal {
  position: relative;
  min-height: 6px;
  background-color: #8aa;
}

// ------------------------------------------------

.main .chartContainer {
  display: none;
}
.main.dictDone .chartContainer {
  display: block;
}
</style>
</body>
</html>
